*{
    margin:0px;
    padding:0px;
}
body{
    font-size: 120%;
    background: #F8f8ff;
}
.header{
    width: 30%;
    margin:50% auto 0px;
    color: white;
    background: #5f9ea0;
    border: 1px solid #B0c4d3;
    text-align: center;
    border-bottom: none;
    border-radius: 10px 10px 0px 0px;
    padding: 20px;  

}